# Node.js dependencies
node_modules/
package-lock.json

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# VS Code settings
.vscode/

# OS-specific files
.DS_Store
Thumbs.db

# Cache and build files
dist/
.cache/
